* { box-sizing: border-box; }

.content {
  width: 100%;  
  
  .content__intro {
    width: 90%;
    height: 100px;
  }

  .grid {
    background: #CCC;
  }

  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: 33.333%;
    
    img {
      display: block;
      max-width: 100%;
    }
    
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}